<!DOCTYPE html>
<html>
<head>
	<title>BookReview</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<nav class="navbar navbar-default">
		<%= link_to "本棚", books_path, class: "navbar-brand" %>
	</nav>
	<% flash.each do |key, value| %>
	<% if key == 'alert' || key == 'success' || key == 'failed' %>
	<div class="alert alert-<%= key %>">
		<%= value %>
	</div>
	<% end %>
	<% end %>
	<%= yield %>
</body>
</html>
